{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{% static 'authorization/style.css' %}">
</head>
<body>
    <h3>Register</h3>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'authorization:register' %}" method="post">
        {% csrf_token %}
        login: <input type="text" name="login"><br>
        password: <input type="password" name="password"><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>