{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Task Manager{% endblock %}</title>
    </head>
    <body>
        {% block header %}
            <section>
                <header>
                    <h4><form method="get">
                        {% csrf_token %}
                        Welcome, {{ user.get_username }}!
                        <button formaction="{% url 'authorization:logout' %}" type="submit">Logout</button>
                        <button formaction="{% url 'my_task_manager:main' %}" type="submit">Main</button>
                        <button formaction="" type="submit">All tasks</button>
                        <button formaction="{% url 'my_task_manager:create_task' %}" type="submit">Create task</button>
                    </form></h4>

                </header>
            </section>
        {% endblock %}
        {% block content %}{% endblock %}
    </body>
</html>